{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} | Bookkeeper{% endblock %}
{% block body %}
    <h1>{{ book.title }}</h1>
    <p>Number of pages: {{ book.pages }}</p>
    <p>{{ book.description }}</p>
{% endblock %}