{% extends 'base.html.twig' %}

{% block title %}Edit Book - {{ book.title }}{% endblock %}

{% block body %}
    <h2>Edit Book</h2>
    <h4>{{ book.title }}</h4>
    {% include('BookkeeperManagerBundle:Book:book.html.twig') %}
{%  endblock %}